<a class="nav-link text-dark" asp-area="" asp-controller="Moderator" asp-action="Zanrovi">Pregled Žanrova</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Moderator" asp-action="Autori">Pregled Autora</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Moderator" asp-action="Knjige">Pregled Knjiga</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Moderator" asp-action="Skladiste">Pregled Skladišta</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Moderator" asp-action="PregledPosudbi">Pregled Posudbe</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Moderator" asp-action="PregledVracanja">Pregled Vraćanja</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Moderator" asp-action="PregledTransakcija">Pregled Transakcija</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Moderator" asp-action="PregledKupnji">Pregled Kupnje</a>
