@{
    ViewData["Title"] = "Cijenik";
}

<div class="container mt-5">
    <h1 class="text-center class=" fw-bold"">CIJENIK</h1>
    <h2 class="text-center">Usluga gradske biblioteke i čitaonice</h2>

    <table class="table custom-table mt-4 text-black">
        <thead>
            <tr>
                <th class="fw-bold">USLUGA</th>
                <th class ="fw-bold">CIJENA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1. Članarina</td>
                <td></td>
            </tr>
            <tr>
                <td>1.1. Predškolska djeca, učenici osnovnih i srednjih škola, studenti, osobe bez redovitog prihoda, umirovljenici s mirovinom iznad 331,81 EUR (2.500,00 KN)</td>
                <td>10,00 EUR (75,34 KN)</td>
            </tr>
            <tr>
                <td>1.2. Osobe s redovitim prihodom i samostalna zanimanja (radnici, službenici, slobodne profesije)</td>
                <td>16,00 EUR (120,55 KN)</td>
            </tr>
            <tr>
                <td>1.3. Umirovljenici s mirovinom do 331,81 EUR (2.500,00 KN), korisnici socijalne pomoći, osobe s invaliditetom, osobe s posebnim potrebama, učenici 1. razreda varaždinskih osnovnih škola</td>
                <td>Besplatan upis</td>
            </tr>
            <tr>
                <td>1.4. Izrada članske iskaznice uz besplatan upis ili izrada izgubljene iskaznice</td>
                <td>3,00 EUR (22,60 KN)</td>
            </tr>
            <tr>
                <td>2. Dopunska posudba po knjizi, CD-ROM-u ili DVD-u</td>
                <td>0,70 EUR (5,27 KN)</td>
            </tr>
            <tr>
                <td>3. Zakasnina po knjizi dnevno</td>
                <td>0,10 EUR (0,75 KN)</td>
            </tr>
            <tr>
                <td>4. Rezervacija knjige (1 naslov)</td>
                <td>0,70 EUR (5,27 KN)</td>
            </tr>
            <tr>
                <td>5. Odvjetnička tužba i troškovi suda – prema stvarnim troškovima</td>
                <td></td>
            </tr>
            <tr>
                <td>6. Međuknjižnična posudba iz knjižnica u RH</td>
                <td>3,00 EUR (22,60 KN)</td>
            </tr>
            <tr>
                <td>7. Međuknjižnična posudba iz NSK – prema cjeniku NSK</td>
                <td></td>
            </tr>
            <tr>
                <td>8. Ispis na internetu 1 stranice</td>
                <td>0,15 EUR (1,13 KN)</td>
            </tr>
            <tr>
                <td>9. Ispis u boji</td>
                <td>0,50 EUR (3,77 KN)</td>
            </tr>
            <tr>
                <td>9.1. Fotokopija formata A4 (samo Gradska knjižnica)</td>
                <td>0,15 EUR (1,13 KN)</td>
            </tr>
            <tr>
                <td>9.2. Fotokopija formata A3 (samo Gradska knjižnica)</td>
                <td>0,30 EUR (2,26 KN)</td>
            </tr>
            <tr>
                <td>10. Naknada za izgubljenu knjigu: prema procijenjenoj stvarnoj vrijednosti</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>