@{
    ViewData["Title"] = "RadnoVrijeme";
}

<div class="header3">
    <p class="fw-bold text-capitalize"> RADNO VRIJEME</p>
    <p>

        PONEDJELJAK, SRIJEDA: 07:00 - 14:00<br>

        UTORAK, ČETVRTAK: 13:00 - 20:00<br>

        PETAK: 07:30 - 19:30 h<br>

        SUBOTA: Parni datumi   7:00 – 14:00<br>

        SUBOTA: Neparni datumi  11:0<br>

        NEDJELJA: Zatvoreno.
    </p>
    <p class="fw-bold">ČITAONICA:</p>
    <p>
        PONEDJELJAK – SUBOTA: 9:00 – 19:00
    </p>
</div>
<hr>
<div>
    <p>ADRESA: Ul. Augusta Cesarca 10, 42000, Varaždin </p>
</div>

<div class="posjet">
    <p class="text-center">
        Dođi i posjeti nas !!!
    </p>
</div>
